/*-------------------------------------------------*/
/*	Base
/*-------------------------------------------------*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.ie7 .clearfix.ie7 { width: 100%; margin: 0; height: 0; }
.ie8 .clearfix.ie8 { width: 100%; margin: 0; height: 1; }


/*--- Grid ---*/

.ml-grid {
	float: left;
	margin-left:5%;
}
.ml-grid.ml-first {
	margin-left:0;
}
.ml-grid.ml-one_full {
	margin-left:0;
	width:100%;
}
.ml-grid.ml-one_half {
	width:47.5%;
}
.ml-grid.ml-one_third {
	width:30%;
}
.ml-grid.ml-two_third {
	width:65%;
}
.ml-grid.ml-one_fourth {
	width:21.25%;
}
.ml-grid.ml-three_fourth {
	width:73.75%;
}




#_ml_seo_title {
	width:99%;
}




/*--- Meta-Box ---*/

.rwmb-input label {
	margin-right: 1em;
}

.rwmb-field {
	margin: 2.5em 0;
}

#_ml_post_m_status,
#_ml_post_m_chat,
#_ml_post_m_quote,
#_ml_post_m_link,
#_ml_post_m_video,
#_ml_post_m_audio,
#_ml_post_m_gallery,
#_ml_post_m_image {
	display: none;
}

.rwmb-input .new-files {
	margin-bottom: 1em;
}

.rwmb-field.field-_ml_bg_video,
.rwmb-field.field-_ml_bg_images,
.field-_ml_bg_video .rwmb-add-file {
	display: none;
}